.card {
  position: relative;
  width: 100%;
  background-size: cover;
  max-height: 307px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  aspect-ratio: 9/10;
  padding: 0.75em;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 0.75em;
  transition: all 0.3s;
  & h2 {
    color: white;
    position: absolute;
    bottom: 0;
  }
  &:hover {
    transform: scale(1.05) translateY(-0.5em);
    box-shadow: var(--box-shadow);
  }
}
