.card {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    aspect-ratio: 9/10;
    padding: 0.75em;
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 0.75em;
    transition: all 0.3s;
    background-color: var(--background-box-color);
    transform-origin: bottom;
    & img {
        width: 100%;
        height: 50%;
        object-fit: contain;
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: var(--box-shadow);
    }
}