.outerContainer {
  width: 80vw;
  margin: 0 auto;
  max-height: 420px;
}

.innerContainer {
  position: relative;
  max-height: 354px;
}

.outerContainer h2:first-child {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.slide {
  padding: 15px;
}

.customPrev,
.customNext {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px;
  font-size: 35px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 120px;
}

.customPrev {
  left: -80px;
}

.customNext {
  right: -80px;
}

.customPrev:hover,
.customNext:hover {
  background: rgba(0, 0, 0, 0.9);
}
